body {
  font-size: 0.875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */
.glowing-circle1 {
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px rgb(7, 243, 35),
    inset -20px 0 80px rgb(220, 235, 7), inset 20px 0 300px rgb(7, 244, 43),
    inset -20px 0 300px rgb(226, 242, 8), 0 0 50px #fff,
    -10px 0 80px rgb(5, 251, 58), 10px 0 80px rgb(222, 233, 5);
  margin-left: 400px;
}
li {
  text-align: left;
}
.glowing-circle2 {
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px rgb(243, 7, 7),
    inset -20px 0 80px rgb(255, 0, 212), inset 20px 0 300px rgb(244, 7, 11),
    inset -20px 0 300px rgb(255, 0, 221), 0 0 50px #fff,
    -10px 0 80px rgb(251, 5, 5), 10px 0 80px rgb(255, 0, 191);
  margin-left: 400px;
}
.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}
canvas.canvasjs-chart-canvas {
  background-color: transparent;
}
canvas.canvasjs-chart-toolbar {
  border-color: grey;
}
.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */
.col-sm.coli {
  color: white;
  padding-left: 24px;
  padding-right: 24px;
}
.col-sm.coli:hover {
  color: #e7ab9a;
}
.lcol {
  color: #fff;
}
.lcol:hover {
  color: #e7ab9a;
}
a.nav-link.clink:hover {
  color: #df2e38;
}

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  /* background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25); */
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}
body > footer {
  background-color: "#febebe";
}
#body {
  background-color: "#febebe";
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}
