body {
  background: #eee;
}

.card {
  border: none;

  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #e1bee7;
  transform: scaleY(1);
  transition: all 0.5s;
  transform-origin: bottom;
}

.card:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: black;
  transform: scaleY(0);
  transition: all 0.5s;
  transform-origin: bottom;
}

.card:hover::after {
  transform: scaleY(1);
}

.fonts {
  font-size: 11px;
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.social-list li {
  padding: 10px;
  color: black;
  font-size: 19px;
}

.buttons button:nth-child(1) {
  border: 1px solid black !important;
  color: black;
  height: 40px;
}

.buttons button:nth-child(1):hover {
  border: 1px solid black !important;
  color: #fff;
  height: 40px;
  background-color: black;
}

.buttons button:nth-child(2) {
  border: 1px solid black !important;
  background-color: black;
  color: #fff;
  height: 40px;
}
